.logos__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logos__container--eight {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .logos__logo-placeholder {
    padding: 0 1.5rem;
  }
}

.logos__logo-placeholder {
  padding: 0 2.3rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    max-width: 100%;
    min-height: 50px;
    max-height: 100px;
  }
}

@media (max-width: $break-mobile) {
  .logos__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logos__container--eight {
    grid-template-columns: 1fr 1fr;
  }

  .logos__logo-placeholder {
    padding: 0 1.5rem;
    margin-bottom: 2.5rem;

    justify-content: center;
  }
}
