.contact {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    margin-bottom: 0.5em;
  }
}

/* Form section */

.form {
  input,
  textarea {
    width: 100%;
    // border: 1px solid $gray-300;
    border: 1px solid transparent;
    padding: 1.8rem 1rem;
    margin-bottom: 2rem;
    background: rgba($white, $alpha: 0.8);

    transition: background 300ms ease, border 300ms ease;

    &:focus {
      background: white;
      border-color: $primary;
      // outline: 2px solid $primary;
      outline: none;
    }
  }
  ::placeholder {
    color: $gray-600;
    font-weight: 400;
  }
  &__toggleswitch {
    justify-content: space-between;
  }
  p {
    color: $gray-700;
    font-weight: 600;
  }
}

/*Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  background-color: $gray-500;
  transition: transform 200ms ease, color 200ms ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background-color: white;
  transition: transform 200ms ease, color 200ms ease;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f5e69;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
